// Color palette
$color-white: #ffffff;
$color-black: #000000;
$color-red: #de0000;
$color-cranberry: #da5b79;
$color-dark-green: #2e5055;
$color-light-beige: #e4d8cf;
$color-blue: #607cbe;
$color-dark-blue: #4462a7;
$color-light-green: #b4d6bd;
$color-soft-green: #daebde;
$color-beige: #d8c6ba;
$color-ada-blue: #455782;
$color-dark-ada-blue: #354771;
$color-light-blue: rgba(96, 124, 190, 0.2);
$color-light-purple: #dfe5f2;

$color-gray: #e9e9e9;